Repository choplin/jira-cli-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, markdownlint

biome-check:
  run: biome check --write {staged_files}
  stage_fixed: true

markdownlint:
  run: bunx markdownlint-cli2 --fix {staged_files}
  stage_fixed: true

chore: prepare v0.2.0 release
  CLAUDE.md
  package.json
Due: none

chore: prepare v0.2.0 release (#10)
  CLAUDE.md
  package.json
Due: none

fix: work around jira-cli ORDER BY bug in list_tickets
  src/tools/listTickets.ts
  tests/listTickets.test.ts
Due: biome-check

fix: work around jira-cli ORDER BY bug in list_tickets (#12)
  src/tools/listTickets.ts
  tests/listTickets.test.ts
Due: biome-check

chore: prepare v0.2.1 release
  CLAUDE.md
  package.json
Due: none

chore: prepare v0.2.1 release (#14)
  CLAUDE.md
  package.json
Due: none

feat: add tool descriptions and annotations for better discoverability
  src/index.ts
Due: biome-check

feat: add tool descriptions and annotations for better discoverability (#17)
  src/index.ts
Due: biome-check

fix: use node shebang for npm distribution
  package.json
  src/index.ts
Due: biome-check

fix(ci): remove duplicate shebang modification in release workflow
  .github/workflows/release.yml
Due: none

Fix: Use node shebang for npm distribution (#16)
  .github/workflows/release.yml
  package.json
  src/index.ts
Due: biome-check

chore: change license from Apache 2.0 to MIT
  LICENSE
  README.md
  docs/PACKAGE_MANAGERS.md
  package.json
Due: markdownlint

chore: change license from Apache 2.0 to MIT (#18)
  LICENSE
  README.md
  docs/PACKAGE_MANAGERS.md
  package.json
Due: markdownlint

chore: prepare v0.3.0 release
  CLAUDE.md
  package.json
Due: none

chore: prepare v0.3.0 release (#19)j
  CLAUDE.md
  package.json
Due: none

feat: add create_ticket tool for creating new Jira tickets
  README.md
  src/index.ts
  src/tools/createTicket.ts
  src/utils/types.ts
  tests/createTicket.test.ts
  tests/integration/createTicket.integration.test.ts
Due: biome-check

feat: add create_ticket tool for creating new Jira tickets (#20)
  README.md
  src/index.ts
  src/tools/createTicket.ts
  src/utils/types.ts
  tests/createTicket.test.ts
  tests/integration/createTicket.integration.test.ts
Due: biome-check

feat: add canceled status to JIRA_STATUS_VALUES and mappings
  src/utils/types.ts
Due: biome-check

feat: add canceled status to JIRA_STATUS_VALUES and mappings (#21)
  src/utils/types.ts
Due: biome-check

chore: prepare v0.4.0 release
  CLAUDE.md
  package.json
Due: none

chore: prepare v0.4.0 release (#22)
  CLAUDE.md
  package.json
Due: none

Path conditions:
  biome-check: any of: **/*.{js,ts,tsx,jsx,json}
  markdownlint: any of: **/*.md
